/* ------------ reset ------------- */
body {
  color: #4F4F4F;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* ------------ reset ------------- */

/* ------------ nav ------------- */

.me-img {
  width: 3rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #D2B48C;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-width {
  width: 40%;
  min-width: 380px;
}

/* ------------ nav ------------- */

/* ------------ first section ------------- */

.bg-custom {
  height: 100vh;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), #D2B48C), url(./assets/common-bg.svg);
  background-position: center;
}

.social-shadow,
.nav-shadow {
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
}

.social-shadow li:hover {
  /* background-color: rgba(17, 17, 26, 0.08); */
  background-color: #D2B48C;
}

.fs-name {
  font-size: 4.5rem;
}

.btn-project {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  font-weight: bold;
  transition: transform 0.3s ease;
}

.btn-project:hover {
  color: rgb(48, 48, 48);
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
}

.scroll-arrow {
  transform: translateY(-27px);
  animation: scrollFade 2.5s ease-out infinite;
}

/* ------------ first section ------------- */

/* ------------ About section  ------------- */
.line::after {
  content: "";
  position: absolute;
  top: calc(100% + .5rem);
  left: 50%;
  height: 5px;
  width: 4rem;
  transform: translateX(-50%);
  background-color: #D2B48C;
  border-radius: 5px;
}

/* ------------ About section  ------------- */

/* ------------ Skills section  ------------- */
.carousel-container {
  animation: scrollStacks 40s linear infinite;
  width: max-content;
}

.carousel-container img {
  margin-left: 5rem;
  width: 5rem;
}

.paused {
  animation-play-state: paused;
}

/* ------------ Skills section  ------------- */

/* ------------ Projects section  ------------- */
#projects {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(./assets/common-bg.svg);
  background-position: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  place-items: center;
}

.card {
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
  width: 22rem;
  min-height: 34rem;
  transition: transform 300ms;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  height: 100%;
}

.project-bg {
  background-color: #f5f0e6;
  height: 10rem;
}

.gitrepo:hover {
  color: #D2B48C;
}

.ytrepo:hover {
  color: red;
}

.legend {
  font-size: 0.5rem;
}


/* ------------ Projects section  ------------- */

/* ------------ Footer section  ------------- */

.footer {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), #D2B48C), url(./assets/common-bg.svg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 0.25;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}


@keyframes scrollFade {
  0% {
    transform: translateY(-27px);
    opacity: 0.8;
  }

  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes scrollStacks {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
